h1, h2, h3, h4, h5, h6, a  p{
  font-family: 'Montserrat', sans-serif;
  color:#000;
}

a {
  text-decoration: none;
}

h1 {
  font-size:60px;
  font-weight: bold;;
}

h2 {
  font-size:50px;
  font-weight: bold;;
}

h3 {
  font-size:40px;
  font-weight: bold;;
}

h4 {
  font-size:30px;
  font-weight: bold;;
}

h5 {
  font-size:25px;
  font-weight: bold;;
}

h5 {
  font-size:20px;
  font-weight: bold;;
}

/* table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table {
  display: flex;
  flex-direction: column;
}
thead {
  display: flex;
  flex-direction: column;
}

tbody {
  display: flex;
  flex-direction: column;
}

tr {
  display: flex;
  flex-direction:row;
  width: 100%;
}

th {
  display: flex;
  width: 100%;
  height: 85px;
  font-weight:bold;
}

td {
  height:85px;
  width:100%;
} */

.back-light {
  background:rgb(141, 141, 141);
}
.back-dark {
  background:rgba(109, 109, 109, 0.822);
}

body {
  background: #e3fdff !important;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-white {
  color:#fff;
}

.header {
  margin-left: 20%;
  margin-top:30%;
}



.brand h5 {
  width:171px;
}

.row {
  display:flex;
}

.logo {
  width:15%
}

.header-img {
  width:50%;
}

.header-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-content {
  align-items: center;
}

.actions-list {
  flex-direction: row;
}

.actions {
  padding:10px;
  text-decoration: none;
}

.full-width {
  width:100%;
}

.admin-bar {
  background:#ffffff;
  width:100%;
  padding:10px 0;
}

.admin-controls {
  width:100%;
  justify-content: space-evenly;
}

.grid-area {
  width:100%;
  height:100%;
  background:rgb(168, 168, 168);
}

[title~="N"] {
  background-color:rgb(182, 145, 145);
  text-align: center;
}

[title~="✔"] {
  background-color: rgb(78, 177, 78);
  text-align: center;
}

[title~="✗"] {
  text-align: center;
}