h1, h2, h3, h4, h5, h6, a  p, div, li, button, input{
  font-family: 'Montserrat', sans-serif;
  color:#333;
}

a {
  text-decoration: none;
  color:#333;
  font-size:16px;
}

h1 {
  font-size:60px;
  font-weight: bold;
}

h2 {
  font-size:50px;
  font-weight: bold;
}

h3 {
  font-size:40px;
  font-weight: bold;
}

h4 {
  font-size:30px;
  font-weight: bold;
}

h5 {
  font-size:25px;
  font-weight: bold;
}

h6 {
  font-size:20px;
  font-weight: bold;
}

body {
  background: #e3fdff !important;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section.row{
  margin-top:100px;
}

input{
  width:50%;
  border:1px solid rgba(0,0,0,0.1);
  border-radius:5px;
}

input:focus{
  border:1px solid rgba(0,0,0,0.6);
}

.alert{
  padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.brand {
  width:25%;
}

.admin-bar {
  background:#ffffff;
  width:100%;
  padding:10px 0;
}

.admin-controls {
  display: flex;
  width:75%;
  justify-content: flex-end;
  align-items: center;
}

.admin-item{
  margin-left:10px;
  margin-right:10px;
  transition:0.2s;
}

.admin-item:hover{
  text-shadow:1px 1px 5px rgba(0,0,0,0.2);
}

.btn{
  padding:10px;
  border:1px solid rgba(0,0,0,0.1);
  font-size:16px;
  font-weight:500;
  margin-top:10px;
  border-radius:5px;
  transition-duration: 0.2s;
}

.btn-action{
  background-color:#e3fdff;
}

.btn:hover{
box-shadow:0 0 0 1px rgba(0,0,0,0.2);
cursor: pointer;
}

.row-even {
  display:flex;
  justify-content: space-evenly;
}

.row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.w-50{
  width:50%;
}

.text-white {
  color:rgb(247, 247, 247);
}

.header {
  margin-top:30%;
}

.header-content h1 {
  align-items: center;
  font-weight: 300;
}

.logo {
  width:15%
}

.header-img {
  width:50%;
}

.even-space {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding:0 100px;
}

.sub-title{
  width: 100%;
  margin-top: 5px;
  line-height: normal;
}

.sub-title-text{
  margin:10px  0;
  width: 90%;
  font-size:20px;
  color:rgb(100, 100, 100);
}

.action-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.action {
  margin-top:20px;
  text-decoration: none;
}

.action:nth-child(2){
  margin-left:20px;
}

.action-item {
  padding:10px;
  background-color:#333;
  border-radius:5px;
  font-weight:600;
  color:#f7f7f7;
  font-size:20px;
}

.full-width {
  width:100%;
}

table{
  width:100%;
}

table, th, td {
  border: 1px solid #333;
  border-collapse: collapse;
}

tr {
  display: flex;
  flex-direction: row;

}

td, th {
  height:85px;
  width:100%;
  padding:0 15px;
}

td, th {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight:bold;
  color:#333
}

.clickable{
  cursor: pointer;
}

.fill-green{
  background:rgb(0, 255, 0);
}
.fill-red{
  background: rgb(255,0,0);
}

.fill-inactive {
  background-image: url(../images/x.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.song-head {
  font-size:18px;
}

[title~="N"] {
  background-color:rgb(182, 145, 145);
  text-align: center;
}

[title~="✔"] {
  background-color: rgb(78, 177, 78);
  text-align: center;
}

[title~="✗"] {
  text-align: center;
}

.link {
  color:#333;
}

.active-link {
  font-weight:bold;
  text-shadow: 5px 5px 5px #f7f7f7;
}

.form-section{
  width:20%;
  padding:100px;
  background-color:#fff;
  box-shadow:0px 0px 25px rgba(0,0,0,0.6);
}

.form-section h4{
  margin-bottom:10px;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:100%;
}

.form-group{
  display: flex;
  justify-content: space-between;
  margin:10px 0;
}

.form-actions{
  margin-top:10px;
}

.help-block{
  font-size:12px;
  padding:3px 0;
  color:rgb(138, 86, 86);
  margin:10px 0 2px;
}

.project-title{
  line-height:75px;
}

.sidebar{
  width:172px;
  background:#656565;
  height: 100%;
  display: flex;
  justify-content: center;
}

.full-height{
  height:100vh;
}

.card{
  width:150px;
  background:#e3fdff;
  border-radius:5px;
  margin-top: 10px;
  padding:0 5px;
  height: max-content;
}

.card-title{
  display: flex;
  justify-content: space-between;
}

.card-title h6{
  font-size:16px ;
}

.card-content{
  font-size: 12px;
}

.card-body{
  display: flex;
}

.card-time{
  display: flex;
  justify-content: flex-end;
  align-items:flex-end;
}

.card-time div{
  font-size: 12px;
}

.card-action{
  font-size:10px;
}

.alert-wrap{
  display: flex;
  justify-content: flex-end;
}

.alert{
  background: #a94442;
  border-radius: 100%;
  width:.5px;
  height:.5px;
  margin-top: -10px;
  margin-right:-10px;
}

@media only screen and (min-width: 500px) {
  h1 {
    font-size:100px;
    font-weight: bold;
  }
  
  h2 {
    font-size:90px;
    font-weight: bold;
  }
  
  h3 {
    font-size:80px;
    font-weight: bold;
  }
  
  h4 {
    font-size:70px;
    font-weight: bold;
  }
  
  h5 {
    font-size:60px;
    font-weight: bold;
  }
  
  h6 {
    font-size:50px;
    font-weight: bold;
  }
  p,div,span,a, input, .btn{
    font-size:50px;
  }

  .header-img{
    width:50%;
  }
  .w-50.header-content{
    width:100%
  }
  .form-section{
    width:75%;
  }
  .form-group{
    width:100%;
    flex-wrap: wrap;
  }

  .form-control-m{
    width:100%;
  }

}


@media only screen and (min-width: 1000px) {
  h1 {
    font-size:90px;
    font-weight: bold;
  }
  
  h2 {
    font-size:80px;
    font-weight: bold;
  }
  
  h3 {
    font-size:70px;
    font-weight: bold;
  }
  
  h4 {
    font-size:60px;
    font-weight: bold;
  }
  
  h5 {
    font-size:50px;
    font-weight: bold;
  }
  
  h6 {
    font-size:40px;
    font-weight: bold;
  }
  p,div,span,a, input, .btn{
    font-size:35px;
  }
  .header-img{
    width:50%;
  }
  .w-50.header-content{
    width:50%
  }
  .form-section{
    width:20%;
  }
}


@media only screen and (min-width: 1500px) {
  h1 {
    font-size:70px;
    font-weight: bold;
  }
  
  h2 {
    font-size:60px;
    font-weight: bold;
  }
  
  h3 {
    font-size:50px;
    font-weight: bold;
  }
  
  h4 {
    font-size:40px;
    font-weight: bold;
  }
  
  h5 {
    font-size:30px;
    font-weight: bold;
  }
  
  h6 {
    font-size:25px;
    font-weight: bold;
  }
  p,div,span,a, input, .btn{
    font-size:22px;
  }
  .header-img{
    width:50%;
  }
  .w-50.header-content{
    width:50%
  }
  .form-section{
    width:20%;
  }
}