body {
  /* background: #e3fdff !important; */
  background-image:linear-gradient(to right , #e3fdff, #3568bf);
  /* background-color: rgb(13, 17, 23); */
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

input:focus{
  border:1px solid rgba(0,0,0,0.6);
}

.container{
  height:100%;
}

.alert-bar{
  position: absolute;
  top: 0;
  width: 100%;
}

.alert{
  display:block;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}



.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.admin-item:hover{
  text-shadow:1px 1px 5px rgba(0,0,0,0.2);
}

.btn:hover{
box-shadow:0 0 0 1px rgba(0,0,0,0.2);
cursor: pointer;
}


.row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.text-white {
  color:rgb(247, 247, 247);
}


.logo {
  width:15%
}

.header-img {
  width:50%;
}

.even-space {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding:0 100px;
}


.full-width {
  width:100%;
}

table{
  width:100%;
}

table, th, td {
  border: 1px solid #333;
  border-collapse: collapse;
}

tr {
  display: flex;
  flex-direction: row;
}

td, th {
  height:85px;
  width:100%;
  padding:0 15px;
  font-size:16px;
}

td, th {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight:bold;
  color:#333
}

.song-head {
  font-size:18px;
}



.active-link {
  font-weight:bold;
  text-shadow: 5px 5px 5px #f7f7f7;
}

.dash-header{
  margin:5px 15px 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.dash-header h3{
  font-weight:200;
}

.recent-projects{
  width:100%;
}

.project-title{
  line-height:75px;
}

.sidebar{
  background:#656565;
  height: 100%;
  flex-grow:1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  box-shadow:0 5px 5px #333;
}









.card-action{
  font-size:10px;
}




.recent-projects{
  display: flex;
}



.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}